
<div class="forms-container">
    <div class="forget-form">
        <h2>Change Password</h2>
        <form #changeForm="ngForm" (ngSubmit)="onChange(changeForm.value)"> 
          <input type="text" name="newpass" placeholder="New Password" ngModel required>
          <input type="text" name="confPass" placeholder="Confirm Password" ngModel required>
          <p>{{changeResponse.Message}}</p>
          <button type="submit" [class.loading]="isLoading">
            <app-loader *ngIf="isLoading"></app-loader>
            Change Password</button>
        </form>
      </div>
</div>