@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@500&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";
*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.profile{
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 400px;
    margin-right: 400px;
    padding: 10px;
}
.head{
    display: flex;
}
.name{
    margin-left: 20px;
    margin-top: 15px;
}
.nm p{
    font-family: 'Roboto','sans-serif';
    font-size: 25px;
    color: #328091; ;
}
.occuption p{
    font-size: 16px;
    margin-top: 5px;
    font-weight: 600;
}

.Pic img{
    margin-top: 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.other table{
    margin-left: 120px;
}
td{
    width: 150px;
}
button{
    margin-left: 150px;
    margin-top: 30px;
    background-color: #328091;
    width: 150px;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s ease;
}   
button:hover{
    background-color: #1f5b68;
}