
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@500&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";
*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
  .navbar {
    background-color: #328091;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
  }
  
  .logo {
    display: flex;
    font-size: 24px;
    font-weight: bold;
  }
  .text{
    margin-left: 20px;
  }
  .first{
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
  }
  .sec{
    position: absolute;
    color: #f39c12;
    margin-left: 10px;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    cursor: pointer;
  }
  
  .nav-links li a:hover {
    color: #f39c12;
  }


.search-bar {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  font-size: 16px;
  padding: 5px;
  border: none;
  width: 300px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
}

.search-bar button {
  font-size: 16px;
  background-color: #f39c12;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #e67e22;
}