<div class="forms-container">
    <div class="forget-form">
        <h2>Forget Password</h2>
        <p>Code will send to your registered email & after that try login with code.</p>
        <form #forgetForm="ngForm" (ngSubmit)="onforget(forgetForm.value)"> 
          <input type="email" name="Email" placeholder="Email" ngModel required>
          <p>{{forgetResponse.Message}}</p>
          <button type="submit" [class.loading]="isLoading">
            <app-loader *ngIf="isLoading"></app-loader>
            Send Code</button>
        </form>
      </div>
</div>