@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }

  .form-group {
    position: relative;
    margin-bottom: 20px;
  }

  .form-group label {
    position: absolute;
    top: 0;
    margin-top: 10px;
    left: 10px;
    font-size: 14px;
    color: #999;
    pointer-events: none;
    transition: 0.2s ease-out;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  .form-group input:focus {
   border: 2px solid #328091;
  }

  .form-group input:focus + label {
    color: #328091;
    top: -12px;
    left: 10px;
    font-size: 14px;
    background-color: #fff;
    padding: 0 5px;
  }

  .form-group input:valid + label {
    background-color: white;
    font-size: 14px;
    color: #328091;
    transform: translateY(-95%) scale(0.90);
  }
  select{
    width: 420px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  .form-group .auto{
    color: #328091;
    top: -16px;
    left: 10px;
    font-size: 14px;
    background-color: #fff;
    padding: 0 5px;
  }

  .form-container button{
    margin-top: 10px;
    background-color: #328091;
    width: 150px;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  h2{
    color: #328091;
    margin-bottom: 20px;
  }
p{
  font-size: 12px;
  color: red;
}

.navbar {
  background-color: #328091;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.nav-links {
  cursor: pointer;
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links i{
  color: #ffff;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #f39c12;
}